@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background-color: cornflowerblue;
}

.board {
    height: 100vh;
    overflow: auto;
}

.note {
    position: absolute;
    color: #000000;
    background-color: #f1f555;
    padding: 5px;
    box-shadow: 6px 6px 3px #333333;
    overflow: hidden;
    overflow-y: auto;

    width: 200px;
    height: 200px;
    border: 1px black outset;
    border-radius: 4px;
    transition: top 0.5s, left 0.5s;
}

.note:focus {
    box-shadow: 6px 6px 6px #cbc5d2;
    background-color: #f4f858;
}

#addButton {
    color: white;
    font-size: 25pt;
    padding: 10px;
}

#minusButton {
    color: white;
    font-size: 36pt;
    padding: 10px;
}

#arrangeButton {
    color: white;
    font-size: 22pt;
    padding: 10px;
}

#foreColorPick {
    max-width: 30px;
}

#backColorPick {
    max-width: 30px;
}

#sidebar {
    width: 80px;
    background-color: #a5c3d7;
    height: 100%;
    text-align: center;
    color: white;
}

.sideControl {
    padding-top: 30px;
    height: 40px;
}

textarea {
    width: 100%;
    height: 100%
}